body {
  padding: 20px;
}

.box {
  width: 150px;
  height: 150px;
  background:yellow;
  display:inline-block;
  border:10px solid black;
  margin:10px;
  text-align:center;
  line-height:150px;
  font-size:100px;
}
